
 	<div class="row navar">
 		<div class="col-xs-3"><img src="assets/adult_cold.png" class="img"></div>
 		 <div class="col-xs-8 ">
 			<div class="row font-lg"><div class="col-xs-12 baby">成人感冒气象风险</div></div>
		              <div class="row font-lg">
		              	   <div class="col-xs-14">
			                 <div class="col-xs-15 text-center state-1">低</div>
			                 <div class="col-xs-15 text-center state-2">轻微</div>
			                 <div class="col-xs-15 text-center state-3">中等</div>
			                 <div class="col-xs-15 text-center state-4">较高</div>
			                 <div class="col-xs-15 text-center state-5">高</div>
			                 </div>
		               </div>
 		</div>
 	</div>
 	<hr class="divider">
 	<div class="background">
 	<div class="row aim">
 		<div class="col-xs-2 baby"><div>今天</div></div>
 		<div class="col-xs-6">
	                      <div class="row state-size">
	                      <div class="col-xs-15 state"> </div>
	                      <div class="col-xs-15 state"> </div>
	                      <div class="col-xs-15 sample state-3"> </div>
	                      <div class="col-xs-15 state"> </div>
	                      <div class="col-xs-15 state"> </div>
	                      </div>
 		</div>
 	</div>
 	<hr class="divider">
 	<div class="row aim1">
 		<div class="col-xs-12 baby"><p>防范人群：体质差的青少年和成年人</p></div>
 	</div>
 	<div class="row aim2">
 		<div class="col-xs-12 baby2">防护建议：气温14-17度，气温较今日有所下降，建议根据温度变化及时添衣；风力略大，外出时请注意挡风。
 		</div>
 	</div>
 	</div>
 	<!-- 明天 -->
  	<div class="background">
 	<div class="row aim">
 		<div class="col-xs-2 baby"><div>明天</div></div>
 		<div class="col-xs-6">
	                      <div class="row state-size">
	                      <div class="col-xs-15 state"> </div>
	                      <div class="col-xs-15 sample state-2"> </div>
	                      <div class="col-xs-15 state"> </div>
	                      <div class="col-xs-15 state"> </div>
	                      <div class="col-xs-15 state"> </div>
	                      </div>
 		</div>
 	</div>
 	<hr class="divider">
 	<div class="row aim1">
 		<div class="col-xs-12 baby"><p>防范人群：体质非常差的青少年和成年人</p></div>
 	</div>
 	<div class="row aim2">
 		<div class="col-xs-12 baby2">防护建议：气温15-25度，气温上升明显，但温差大请根据温度变化及时增减衣服；适当锻炼，增强体质。
 		</div>
 	</div>
 	</div>	

